<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>

		<div class="card mr-1 ml-3">


			<div class="card-body">

				<h3 class="text-center text-secondary fst-italic fw-lighter">Your Posts</h3>


				<div class="container mb-3">

					<div class="row justify-content-center">
					
					
					<div th:each="p : ${postsList}"  class="col-lg-4 col-md-12 mt-2">

						<div class="card" style="width: 18rem; height: 31rem">
						
							<img th:src="@{'/img/'+${p.pic} }" class="card-img-top"
								alt="Card image cap" style="width: 100%; height: 140px;">
								
							<div class="card-body">

								<h5 class="card-title text-primary">[[${p.title}]]</h5>
								<p class="card-text">[[${p.content}]]</p>

							</div>

							<div class="card-footer primary-background text-center">
								<a href="#" th:href="@{'/user/'+${p.pid}+'/posts'}"
									class="btn btn-outline-light btn-sm ">Read more...</a>
							</div>

						</div>

					</div>
					
					</div>

				</div>

				<!-- pagination -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">

						<li class="page-item" th:if="${currentPage != 0}"><a
							class="page-link"
							th:href="@{'/user/show-contacts?pageNo=' + ${currentPage - 1}}">Previous</a></li>

						<li class="page-item"
							th:each="i : ${#numbers.sequence(1, totalPages)}"
							th:classappend="${currentPage== i-1 ? 'active' : ' ' }"><a
							class="page-link"
							th:href="@{'/user/show-contacts?pageNo=' + ${i-1} }">
								[[${i}]] </a></li>

						<li class="page-item" th:if="${currentPage + 1 != totalPages}"><a
							class="page-link"
							th:href="@{'/user/show-contacts?pageNo=' + ${currentPage + 1}}">Next</a></li>

					</ul>
				</nav>

			</div>

		</div>



		<script>
		
		$(document).ready(() => {
			
			$(".item").removeClass("active");
			
			$("#your-posts").addClass("active");
			
			} );
		
		</script>

	</section>

</body>
</html>