<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>

		<!-- banner -->
		<div class="container-fluid p-0 m-0">


			<div
				class="jumbotron primary-background text-white banner-background">

				<div class="container content-padding">

					<h3 class="Display-3">Welcome to SoloLearn</h3>
					<p>Welcome to technical blog, World .A programming language is
						a system of notation for writing computer programs.[1] Most
						programming languages are text-based formal languages, but they
						may also be graphical. They are a kind of computer language.Here
						are some tips for creating a blog: Choose a target audience,
						Brainstorm content ideas, Research and review a content management
						system (CMS), and Create a blog strategy and editorial calendar.</p>

					<p>The description of a programming language is usually split
						into the two components of syntax (form) and semantics (meaning),
						which are usually defined by a formal language.</p>


					<a class="btn btn-outline-light btn-lg hero_btn" href="/startsFree"><span
						class="fa fa-drivers-license"></span> Start ! its free</a> <a
						class="btn btn-outline-light btn-lg" href="/signin"><span
						class="fa fa-child fa-spin"></span> Login</a>
				</div>

			</div>


		</div>

		<br>


		<div class="container">
			<div class="row">
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">HTML</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">CSS</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">JAVA SCRIPT</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">JAVA Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">PYTHON Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mb-1">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">C++ Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin" class="btn primary-background text-white">Know
								More....</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>

</body>
</html>