<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>


		<div class="container-fluid p-0 m-0 text-center">
			<div class="jumbotron primary-background text-white  page-background">
				<div class="container w3-col 112 w3-center">
					<h1>
						<i class="fa-solid fa-fingerprint fa-lg" style="color: #ff4d00;"></i>
						Born to Code
					</h1>
					<h1>
						With Best Tutorials Site
					</h1>
					<br> <br> <a href="/signup"
						class="btn btn-outline-light btn-lg "> <span
						class="fa fa-code "></span> Not Sure Where To Begin
					</a> <a href="/signin"
						class="btn btn-outline-light btn-lg hero_btn"> <span
						class="fa fa-user-circle-o fa-spin"></span> Login
					</a> <br> <br> <br>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">HTML</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">CSS</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">JAVA SCRIPT</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">JAVA Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">PYTHON Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">C++ Programming</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="/signin"
								class="btn primary-background text-white">Know More....</a>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>

</body>
</html>